@{
    ViewBag.Title = "The Big Dalmuti";
}

<h2>StartGame</h2>

<form method="post" runat="server" action="AddPlayerToLobby">

    Displayname: <input type="text" name="displayName" />
    <input type="submit" value="Add Player" class="btn btn-default" />

</form>

